<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="me.test.davidllorca.familyapp">

    <application
        android:name=".FamilyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="me.test.davidllorca.familyapp.ui.splash.SplashActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.Splash">
            <intent-filter android:label="@string/app_name">
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="me.test.davidllorca.familyapp.ui.home.HomeActivity"
            android:label="@string/title_home_activity"
            android:launchMode="singleInstance"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name="me.test.davidllorca.familyapp.ui.listchildren.ListChildrenActivity"
            android:label="@string/title_list_children_activity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="me.test.davidllorca.familyapp.ui.addmember.AddChildActivity"
            android:label="@string/title_add_child_activity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <meta-data
            android:name="android.support.VERSION"
            android:value="26.1.0" />

        <provider
            android:name="android.arch.lifecycle.ProcessLifecycleOwnerInitializer"
            android:authorities="me.test.davidllorca.familyapp.lifecycle-trojan"
            android:exported="false"
            android:multiprocess="true"
            tools:replace="android:authorities" />

    </application>

</manifest>